@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla";
}

/* navbar */

/* .hero {
  height: 100vh;
  width: 100%;
} */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  color: black;
  font-size: 28px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ea1538;
  transition: 0.3s;
}

/* search related */

.search-btn {
  border: none;
  background: #ea1538;
  padding: 12px 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
}

.search-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.search-bar {
  font-size: medium;
  outline: none;
  color: #686868;
  border: 1px solid rgb(197, 191, 191);
  padding: 12px 20px;
  border-radius: 30px;
  width: 350px;
}

/* Featuted books */

.featured-books {
  display: flex;
  /* border: 1px solid red; */
  margin: 8vh 5vw;
  /* padding: 5vh 5vw; */
}

.featured-books > h1 {
  padding: 7vw;
}

#month {
  font-size: xx-large;
  font-weight: 800;
}

/* carousel */
.carousel {
  display: flex;
  width: 50%;
  height: 50%;
  align-items: center;
  font-family: Arial;
  padding-right: 5vw;
}

.carousel__list {
  border: 1px solid blue;
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  margin-left: 30vw;
  justify-content: center;
  perspective: 300px;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 200px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;
}

.carousel__item:nth-child(1) {
  background: linear-gradient(45deg, #2d35eb 0%, #904ed4 100%);
}

.carousel__item:nth-child(2) {
  background: linear-gradient(45deg, #2d35eb 0%, #fdbb2d 100%);
}

.carousel__item:nth-child(3) {
  background: linear-gradient(45deg, #2d35eb 0%, #22c1c3 100%);
}

.carousel__item:nth-child(4) {
  background: linear-gradient(45deg, #fdbb2d 0%, #904ed4 100%);
}

.carousel__item:nth-child(5) {
  background: linear-gradient(45deg, #22c1c3 0%, #904ed4 100%);
}

.carousel__item[data-pos="0"] {
  z-index: 5;
}

.carousel__item[data-pos="-1"],
.carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}

.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="-2"],
.carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}

.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}

.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}

/* best selling boooks */
.bestselling-books {
  margin-left: 5vw;
  margin-right: 5vw;
}

.card-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.card {
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  /* border: 1px solid red; */
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-content {
  margin-top: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.card-buttons button {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-author {
  font-size: 14px;
  color: #777;
}

.card-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
